@model DotNetCoreSqlDb.Models.IPPlan

@{
    ViewData["Title"] = "L채gg till en ny IP Plan";
}

<h2>Create</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="N채t" class="control-label"></label>
                <input asp-for="N채t" class="form-control" />
                <span asp-validation-for="N채t" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mask" class="control-label"></label>
                <input asp-for="Mask" class="form-control" />
                <span asp-validation-for="Mask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MGMT" class="control-label"></label>
                <input asp-for="MGMT" class="form-control" />
                <span asp-validation-for="MGMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WLAN" class="control-label"></label>
                <input asp-for="WLAN" class="form-control" />
                <span asp-validation-for="WLAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LAN" class="control-label"></label>
                <input asp-for="LAN" class="form-control" />
                <span asp-validation-for="LAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="GammalSite" class="control-label"></label>
                <input asp-for="GammalSite" class="form-control" />
                <span asp-validation-for="GammalSite" class="text-danger"></span>
            </div>
           
            <div class="form-group mb-3">
                <input type="submit" value="Spara" class="btn btn-primary" /> | <a asp-action="Index">Tillbaka</a>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
