@model DotNetCoreSqlDb.Models.IPPlan

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>IPPlan</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nät" class="control-label"></label>
                <input asp-for="Nät" class="form-control" />
                <span asp-validation-for="Nät" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Mask" class="control-label"></label>
                <input asp-for="Mask" class="form-control" />
                <span asp-validation-for="Mask" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MGMT" class="control-label"></label>
                <input asp-for="MGMT" class="form-control" />
                <span asp-validation-for="MGMT" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WLAN" class="control-label"></label>
                <input asp-for="WLAN" class="form-control" />
                <span asp-validation-for="WLAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LAN" class="control-label"></label>
                <input asp-for="LAN" class="form-control" />
                <span asp-validation-for="LAN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Site" class="control-label"></label>
                <input asp-for="Site" class="form-control" />
                <span asp-validation-for="Site" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GammalSite" class="control-label"></label>
                <input asp-for="GammalSite" class="form-control" />
                <span asp-validation-for="GammalSite" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastUpdatedDate" class="control-label"></label>
                <input asp-for="LastUpdatedDate" class="form-control" />
                <span asp-validation-for="LastUpdatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
