@model DotNetCoreSqlDb.Models.Etablering

@{
    ViewData["Title"] = "Edit";
}

<h2 class="main_h1">Redigera</h2>

        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-3 mb-1">
                <label asp-for="KontorSite" class="control-label"></label>
                <input asp-for="KontorSite" class="form-control" />
                <span asp-validation-for="KontorSite" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="AteaKonsult" class="control-label"></label>
                <input asp-for="AteaKonsult" class="form-control" />
                <span asp-validation-for="AteaKonsult" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Gatuadress" class="control-label"></label>
                <input asp-for="Gatuadress" class="form-control" />
                <span asp-validation-for="Gatuadress" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="ÄrendeNrISS" class="control-label"></label>
                <input asp-for="ÄrendeNrISS" class="form-control" />
                <span asp-validation-for="ÄrendeNrISS" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="ISSKontaktperson" class="control-label"></label>
                <input asp-for="ISSKontaktperson" class="form-control" />
                <span asp-validation-for="ISSKontaktperson" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="EpostISSKontaktperson" class="control-label"></label>
                <input asp-for="EpostISSKontaktperson" class="form-control" />
                <span asp-validation-for="EpostISSKontaktperson" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="TelefonISSKontaktperson" class="control-label"></label>
                <input asp-for="TelefonISSKontaktperson" class="form-control" />
                <span asp-validation-for="TelefonISSKontaktperson" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="TeliaUppkoppling" class="control-label"></label>
                <input asp-for="TeliaUppkoppling" class="form-control" />
                <span asp-validation-for="TeliaUppkoppling" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="ÖvrigInfo" class="control-label"></label>
                <input asp-for="ÖvrigInfo" class="form-control" />
                <span asp-validation-for="ÖvrigInfo" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="KlartSenast" class="control-label"></label>
                <input asp-for="KlartSenast" class="form-control" />
                <span asp-validation-for="KlartSenast" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Status" class="control-label"></label>
                    <select asp-for="Status" class="form-control">
                    <option value="Pågående">Pågående</option>
                    <option value="Avvecklad">Klar</option>
                </select>
            </div>
            <br>
            <div class="col-md-3 mb-1">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
            </div>
        </form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
