/* Anpassade stilar för den nya layouten */

/* Top section */
.top-section {
  background-color: #333;
  color: white;
}

/* Middle section */
.middle-section {
  background-color: #f0f0f0;
}

/* Logotyp */
.navbar-brand {
  font-size: 24px;
}

/* Kolumnstilar */

.left-column {
  background-color: blue;
  color: white;
}

.right-column {
  display: flex;
  flex-direction: row; 
  height: 100vh; 
  width: 100%; 
}

.right-column .left-side {
  background-color: #003399; 
  flex: 1; 
}

.right-column .right-side {
  background-color: #66ccff; 
  flex: 1; 
}


.middle-column {
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
  overflow-x: auto;
}

/* Bottom section */
.bottom-section {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0; /* Lägg till lite mellanrum */
  text-align: center;
  color: gray;
}

/* Övriga stilar (behåll som den var) */
