<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Styles & Scripts -->
    <!-- DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>@ViewData["Title"] - ISSSE Master Site List</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    @using Microsoft.AspNetCore.Identity
    @inject SignInManager<IdentityUser> SignInManager
    @inject UserManager<IdentityUser> UserManager

    <header>
<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light">
    <div class="container-fluid">
        <img src="~/images/issse-logo.jpg" alt="ISS logo" style="vertical-align: middle;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link" style="color: #030037; font-weight: bold;" asp-action="Index" asp-controller="Sites">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #030037; font-weight: bold;" asp-controller="Home" asp-action="Info">Info</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #030037; font-weight: bold;" asp-controller="IPPlan" asp-action="Index">IP Planer</a>
                </li>
                <li class="nav-item" style="line-height: 1.6;">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <form asp-controller="Account" asp-action="Logout" method="post" style="display: inline;">
                            <button type="submit" class="nav-link btn btn-link" style="color: #030037; font-weight: bold; background: none; border: none; padding: 0; cursor: pointer; vertical-align: middle;">Logga ut</button>
                        </form>
                    }
                    else
                    {
                        <a class="nav-link" style="color: #030037; font-weight: bold;" asp-controller="Account" asp-action="Login">Logga in</a>
                    }
                </li>
            </ul>
        </div>
    </div>
</nav>


    </header>

    <div class="container-fluid d-flex flex-column" style="height: 100vh;">
        <div class="row flex-grow-1">
            <div class="col-md-1 left-column">
                <!-- left -->
            </div>
            <div class="border-top col-md-10 bg-light">
                <div class="scrollable-content">
                <br>
                <br>
                    @RenderBody() <!-- main -->
                </div>
            </div>
            <div class="col-md-1 right-column">
                <!-- right -->
            </div>
        </div>
    </div>

    <footer class="border-top footer text-muted bg-light">
        <div class="container">
            &copy; Sanel Karabegovic 2023 - ISSSE Master Site List 
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
