<h2>Glömt lösenord/h2>
<br>
<form method="post" action="/Account/ForgotPassword">
    <div>
        <label for="email">Email:</label>
        <input type="email" name="email" required />
    </div>
    <br>
    <div>
        <input type="submit" value="Skicka" />
    </div>
</form>
