<h2 class="main_h1">Glömt lösenord</h2>
<br>
<br>
<div class="container">
    <div class="login-form">
        <form method="post" action="/Account/ForgotPassword">
            <div>
            <p><strong>Fyll i e-postadressen som du har registrerat</strong></p>
            <br>
                <label for="email">Email:</label>
                <input type="email" name="email" required />
            </div>
            <br>
            <div>
                <input class="btn btn-primary" type="submit" value="Skicka" />
            </div>
        </form>
    </div>
</div>
