@model LoginViewModel

@{
    ViewData["Title"] = "Logga in";
    <link rel="stylesheet" href="~/css/site.css" /> 
}
<br>
<div class="container">
    <h1 class="info-title"><i class="fas fa-sign-in"></i> @ViewData["Title"]</h1>
        <br>
    <div class="login-form">
        
        @if (ViewData["ReturnUrl"] != null)
        {
            <div class="alert alert-warning">
                Du måste logga in för att komma åt sidan <strong>@ViewData["ReturnUrl"]</strong>.
            </div>
        }

        <!-- Form för inloggning -->
        <form asp-action="Login" method="post" class="fixed-form">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> Kom ihåg mig?
                    </label>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Logga in</button>&nbsp|&nbsp
                <a href="@Url.Action("ForgotPassword", "Account")" class="ml-3 text-decoration-none">Glömt lösenord?</a>&nbsp|&nbsp
                <a href="@Url.Action("Register", "Account")" class="ml-3 text-decoration-none">Skapa ett nytt konto</a>
            </div>
        </form>
    </div>
</div>


