@model LoginViewModel

@{
    ViewData["Title"] = "Logga in";
    <link rel="stylesheet" href="~/css/site.css" /> 
}

<h2 class="main_h1">@ViewData["Title"]</h2>
<br>
<br>

<div class="container">
    <div class="login-form">
        
        @if (ViewData["ReturnUrl"] != null)
        {
            <div class="alert alert-warning">
                You must log in to view the page at <strong>@ViewData["ReturnUrl"]</strong>.
            </div>
        }

        <!-- Form för inloggning -->
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <br>
            <div class="form-group">
                <div class="form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="RememberMe" /> Remember me?
                    </label>
                </div>
            </div>
            <br>
            <br>
            <div class="form-group d-flex align-items-center">
                <button type="submit" class="btn btn-primary">Log in</button>&nbsp|&nbsp
                <a href="@Url.Action("ForgotPassword", "Account")" class="ml-3 text-decoration-none">Glömt lösenord?</a>&nbsp|&nbsp
                <a href="@Url.Action("Register", "Account")" class="ml-3 text-decoration-none">Skapa ett nytt konto</a>
            </div>
        </form>
    </div>
</div>


