@model RegisterViewModel

<h2>Register</h2>

<form method="post">
<div class="container">
    <div class="login-form">
    <div>
        <label>Email</label>
        <input asp-for="Email" />
    </div>
    <div>
        <label>Password</label>
        <input asp-for="Password" />
    </div>
    <div>
        <label>Confirm Password</label>
        <input asp-for="ConfirmPassword" />
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
    
    <div class="password-requirements">
        <p>Lösenordskrav:</p>
        <ul>
            <li>Minst @ViewBag.PasswordLengthRequirement tecken långt.</li>
            <li>@if (ViewBag.RequireDigit) { <span>Innehålla minst en siffra.</span> }</li>
            <li>@if (ViewBag.RequireUppercase) { <span>Innehålla minst en versal.</span> }</li>
            <li>@if (ViewBag.RequireLowercase) { <span>Innehålla minst en gemen.</span> }</li>
            <li>@if (ViewBag.RequireNonAlphanumeric) { <span>Innehålla minst ett icke-alfanumeriskt tecken (t.ex. !, $, #, %).</span> }</li>
        </ul>
    </div>
</div>
</div>
</form>
