@model RegisterViewModel

<h2 class="main_h1">Register</h2>

<form method="post" class="mt-4">
    <div class="container">
        <div class="login-form">

            <div class="form-group">
                <label>Ditt Namn:</label>
                <input asp-for="FullName" class="form-control" required />
            </div>
            
            <div class="form-group">
                <label>Email:</label>
                <input asp-for="Email" class="form-control" required />
            </div>
            
            <div class="form-group">
                <label>Password:</label>
                <input asp-for="Password" class="form-control" required />
            </div>
            
            <div class="form-group">
                <label>Confirm Password:</label>
                <input asp-for="ConfirmPassword" class="form-control" required />
            </div>
            
            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Registrera</button>
            </div>

            <div class="password-requirements mt-4">
                <p>Lösenordskrav:</p>
                <ul>
                    <li>Minst @ViewBag.PasswordLengthRequirement tecken långt.</li>
                    <li>@if (ViewBag.RequireDigit) { <span>Innehålla minst en siffra.</span> }</li>
                    <li>@if (ViewBag.RequireUppercase) { <span>Innehålla minst en versal.</span> }</li>
                    <li>@if (ViewBag.RequireLowercase) { <span>Innehålla minst en gemen.</span> }</li>
                    <li>@if (ViewBag.RequireNonAlphanumeric) { <span>Innehålla minst ett icke-alfanumeriskt tecken (t.ex. !, $, #, %).</span> }</li>
                </ul>
            </div>
            
        </div>
    </div>
</form>

