html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0; 
  text-align: center;
  color: gray;
  font-size: 0.6em;
}

.col-md-8 {
  background-color: #ffffff; 
  min-height: 100vh;
}

.overflow-auto {
  overflow: auto;
}

.scrollable-content {
  max-height: calc(100vh - 150px);
  overflow-y: auto;
}

.left-column, .right-column {
  background-color: #030037;
  color: white;
}

.table td, .table th {
  font-size: 12px; 
}

.login-form {
  width: 70%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-right: auto;
  margin-left: 0;
}


.password-requirements {
  margin-top: 5px;
  font-size: 0.9em;
  color: #666;
}

.password-requirements p {
  margin-bottom: 5px;
}

.password-requirements ul {
  padding-left: 20px;
}

.password-requirements li:before {
  content: '•';
  margin-right: 5px;
}
.main_h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #333; 
  display: inline-block;
}

.lastUpdated {
  font-size: 16px;
  color: #666;
  display: inline-block;
  margin-left: 10px;
}

.add-new-site-btn {
  padding: 10px 20px;
  background-color: #007BFF;
  color: #FFF;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.add-new-site-btn:hover {
  background-color: #0056b3;
  text-decoration: none;
  color: #FFF;
}

.table {
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  border-collapse: collapse;
  background-color: #fff;
}

.table th, .table td {
  border: 1px solid #e5e5e5; 
  padding: 8px 12px; 
  text-align: center; 
}

.table thead {
  background-color: #f7f7f7;
}
.wide-input {
  width: 100%;
}

.custom-navbar-color {
  background-color: #030037 !important; 
}

.fixed-form {
  position: relative; 
  left: 0; 
  margin-left: 20px; 
}
.custom-container {
  width: 400px; /* eller den önskade bredden på din form */
  margin-left: auto;
  margin-right: auto;
}
.custom-label-space {
  padding-right: 0;
}