html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

 /*body { */
   /*margin-bottom: 60px; */
 /*} */

.lastUpdated {
  font-size: 0.4em;
  color: gray;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 10px 0; /* Lägg till lite mellanrum */
  text-align: center;
  color: gray;
}

.col-md-8 {
  background-color: #ffffff; /* Vit bakgrundsfärg */
  min-height: 100vh; /* Minsta höjden av viewport */
}

.overflow-auto {
  overflow: auto;
}

.scrollable-content {
  max-height: calc(100vh - 150px); /* Justera höjden efter behov */
  overflow-y: auto;
}

.left-column, .right-column {
  background-color: #030037;
  color: white;
}

.table td, .table th {
  font-size: 10px; /* Justera storleken efter dina preferenser */
}