@{
    ViewData["Title"] = "Väkommen";
}
<br>
<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <br>
    <br>
    <p>Ditt konto är nu skapat. Du får inte någon bekräftelse på mail, eftersom det kostar pengar</p>
    <p>Du har nu fått ReadOnly behörighet, behöver du högre, kontakta min pappa Sanel</p>
    <p>Hej då</p>
</div>
