@{
    ViewData["Title"] = "Info sida";
}

<br>
<div class="text-left">
    <h4 class="display-4">Info sida</h4>
    <br>
    <br>
    <p>För att komma åt innehållet i applikationen, måste ett nytt konto registreras.</p>
    <p>Endast personer på IT-Supporten är behöriga att skapa/registrera ett konto.</p>
    <p>För eventuella frågor kontakta sanel.karabegovic@se.issworld.com.</p>
</div>




