@{
    ViewData["Title"] = "Info sida";
}

<br>
<div class="text-center">
    <h2 class="display-4">Info sida</h2>
    <br>
    <br>
    <p>Hej inget nytt h채r...</p>
    <p>...채n s책 l채nge</p>
</div>




