@{
    ViewData["Title"] = "Info sida";
}

<div class="info-container">
    <h1 class="info-title"><i class="fas fa-info-circle"></i> Info sida</h1>
    <br>
    <p class="info-description">
        För att komma åt innehållet i applikationen, måste ett nytt konto registreras.
    </p>
    <p class="info-details">
        Endast personer på IT är behöriga att skapa/registrera ett konto.
    </p>
    <p class="info-contact">
         För eventuella frågor kontakta 
        <i class="fas fa-envelope"></i><a href="mailto:sanel.karabegovic@se.issworld.com">sanel.karabegovic@se.issworld.com</a>.
    </p>
</div>





