@{
    ViewData["Title"] = "Lathund";
}
<br>



<section>
    <h1 class="main_h1">Behörighet</h1>
    <p>Alla i supporten har/får ReadOnly behörighet. Andés har skrivrättigheter och kan göra ändringar/uppdateringar i MSL när det behövs.</p>
    <br>

    <h1 class="main_h1">MSL</h1>
    <p>Siterna i MSL kan ha två olika status Aktiv och Pågående. </p>
    <ul>
        <li><strong>Aktiv</strong> = Siten är uppe och i full drift</li>
        <li><strong>Pågående</strong> = Siten är på väg att etableras</li>
    </ul>
    <br>

    <h1 class="main_h1">IP Planer</h1>
    <p>Här planerar Ronnie IP spann för alla våra ISS siter. Vill ni ta reda på vilket IP spann en ISS site har, går bra att söka här</p>

    <br>
    

    <h1 class="main_h1">Pågående förändringar</h1>
    <p>Här finns alla förändringar som görs på en ”Aktiv” ISS site. Det kan t.ex. vara ett flytt, byte av hårdvara, extra accesspunkter osv.</p>
    <br>

    <h1 class="main_h1">Arkiv</h1>
    <p>Under arkiv hittar man alla nedlagda siter, t.ex. p.g.a. förlorat kontrakt.</p>
    <br>
    <h1 class="main_h1">Kassa siter</h1>
    <p>Lista över alla siter/restauranger med ett eller flera kassasystem</p>

    <br>
    <h1 class="main_h1">Skrivare</h1>
    <p>Här finns alla ISS SE nätverksskrivare levererade av Sharp</p>
</section>

