@{
    ViewData["Title"] = "Lathund";
}

<h1>@ViewData["Title"]</h1>

<section>
    <h2>Behörighet</h2>
    <p>Alla i supporten har/får ReadOnly. Andés har skrivrättigheter och kan göra ändringar/uppdateringar i MSL när det behövs.</p>

    <h2>MSL</h2>
    <p>Siterna i MSL kan ha två olika status Aktiv och Pågående. </p>
    <ul>
        <li>Aktiv = Siten är uppe och i full drift</li>
        <li>Pågående = Siten är på väg att etableras</li>
    </ul>

    <h2>IP Planer</h2>
    <p>Här planerar Ronnie IP spann för alla våra ISS siter. Vill ni ta reda på vilken IP spann en ISS site har, går bra att söka här</p>

    <h2>Pågående förändringar</h2>
    <p>Här finns alla förändringar som görs på en ”Aktiv” ISS site. Det t.ex. vara flytt, byte av hårdvara, extra accesspunkter osv.</p>

    <h2>Arkiv</h2>
    <p>Under arkiv hittar man alla nedlagda siter t.ex. p.g.a. förlorat kontrakt.</p>
</section>

