@{
    ViewData["Title"] = "Lathund";
}

<h1 class="main_h1">@ViewData["Title"]</h1>
<br>
<br>


<section>
    <h2 class="main_h2">Behörighet</h2>
    <p>Alla i supporten har/får ReadOnly behörighet. Andés har skrivrättigheter och kan göra ändringar/uppdateringar i MSL när det behövs.</p>
    <br>

    <h4>MSL</h4>
    <p>Siterna i MSL kan ha två olika status Aktiv och Pågående. </p>
    <ul>
        <li><strong>Aktiv</strong> = Siten är uppe och i full drift</li>
        <li><strong>Pågående</strong> = Siten är på väg att etableras</li>
    </ul>
    <br>

    <h4>IP Planer</h4>
    <p>Här planerar Ronnie IP spann för alla våra ISS siter. Vill ni ta reda på vilken IP spann en ISS site har, går bra att söka här</p>

    <br>
    

    <h4>Pågående förändringar</h4>
    <p>Här finns alla förändringar som görs på en ”Aktiv” ISS site. Det kan t.ex. vara ett flytt, byte av hårdvara, extra accesspunkter osv.</p>
    <br>

    <h4>Arkiv</h4>
    <p>Under arkiv hittar man alla nedlagda siter, t.ex. p.g.a. förlorat kontrakt.</p>
</section>

