@model DotNetCoreSqlDb.Models.Skrivare

@{
    ViewData["Title"] = "Edit";
}

<h2 class="main_h1">Redigera skrivare</h2>

<br>
<br>
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="col-md-3 mb-1">
                <label asp-for="Gatuadress" class="control-label"></label>
                <input asp-for="Gatuadress" class="form-control" />
                <span asp-validation-for="Gatuadress" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Ort" class="control-label"></label>
                <input asp-for="Ort" class="form-control" />
                <span asp-validation-for="Ort" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="ShareName" class="control-label"></label>
                <input asp-for="ShareName" class="form-control" />
                <span asp-validation-for="ShareName" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Port" class="control-label"></label>
                <input asp-for="Port" class="form-control" />
                <span asp-validation-for="Port" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <label asp-for="Modell" class="control-label"></label>
                <input asp-for="Modell" class="form-control" />
                <span asp-validation-for="Modell" class="text-danger"></span>
            </div>
            <div class="col-md-3 mb-1">
                <input type="submit" value="Spara" class="btn btn-primary mr-2" />
                <a asp-action="Index" class="btn btn-primary">Tillbaka</a>
            </div>
        </form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
