@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model IEnumerable<ApplicationUser>

<h2>Alla användare</h2>

<table class="table table-bordered table-striped text-center">
    <thead>
        <tr>
            <th>Användarnamn</th>
            <th>Rolle</th>
            <th>Ändra roll</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.UserName</td>
                <td>
                    @if (await UserManager.IsInRoleAsync(user, "Admin"))
                    {
                        <span>Admin</span>
                    }
                    else if (await UserManager.IsInRoleAsync(user, "Editor"))
                    {
                        <span>Editor</span>
                    }
                    else
                    {
                        <span>User</span>
                    }
                </td>
                <td>
                    @if (!(await UserManager.IsInRoleAsync(user, "Admin")))
                    {
                        <a href="@Url.Action("AssignAdminRole", new { userId = user.Id })" class="btn btn-warning">Gör till Admin</a>
                    }
                    @if (!(await UserManager.IsInRoleAsync(user, "Editor")))
                    {
                        <a href="@Url.Action("AssignEditorRole", new { userId = user.Id })" class="btn btn-info">Gör till Editor</a>
                    }
                    @if (!(await UserManager.IsInRoleAsync(user, "User")))
                    {
                        <a href="@Url.Action("AssignUserRole", new { userId = user.Id })" class="btn btn-secondary">Gör till User</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

